header{
    background-color: darkseagreen;
}
.agata{
    display: flex;
    justify-content: center;
}
.fact{
    display: flex;
    flex-direction: row;
    align-items: center;
}
h3{
    text-align: center;
}
@media (max-width: 768px){
    .agata img{
        width: 500px;
    }
    .fact{
        display: flex;
        flex-direction: column;
    }
}