header{
    background-color: darkseagreen;
}
.marpl{
    display: flex;
    justify-content: center;
}
.fact{
    display: flex;
    flex-direction: row;
    align-items: center;
}
h3{
    text-align: center;
}
@media(max-width: 768px){
    .fact{
        display: flex;
        flex-direction: column;
    }
    .fact img{
        width: 200px;
        height: 300px;
    }
    .marpl img{
        width: 500px;
        height: 450px;
    }
}
