header{
    background-color: darkseagreen;
}
.murder{
    display: flex;
    flex-direction: column;
}
.nil{
    display: flex;
    flex-direction: column;
}
.ten{
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.fact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.one{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.book{
    display: flex;
    flex-direction: column;
}
footer{
    background-color: darkseagreen;
}
@media (max-width: 768px){
    img{
        width: 200px;
    }
    h3{
        font-size: 5px;
    }
    .protivnik img{
        width: 250px;
        height: 250px;
    }
    .protivnik{
        gap: 20px;
    }
    .ctaylc img{
        width: 200px;
        height: 300px;
    }
    .golf img{
        width: 200px;
        height: 300px;
    }
    .one{
        gap: 50px;
    }
    header img{
        width: 100px;
    }
    header{
        width: 100%;
        background-color: darkseagreen;
    }
}
@media (max-width: 480px){
    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    header{
        width: 100%;
        background-color: darkseagreen;
    }
    .one{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .murder{
        padding-left: 130px;
    }
    .ctaylc{
        padding-left: 120px;
    }
    .golf{
        padding-left: 100px;
    }
}