header{
    background-color: darkseagreen;
}
.vne{
    display: flex;
    justify-content: space-between;
}
.fact{
    display: flex;
    flex-direction: row;
    align-items: center;
}
h3{
    text-align: center;
}
.vne{
    display: flex;
    justify-content: space-around;
}@media (max-width: 768px){
  .vne{
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
  .vne img{
    width: 400px;
  }
  .fact{
    display: flex;
    flex-direction: column;
  }
}