header{
    background-color: darkseagreen;
}
.marpl{
    display: flex;
    justify-content: center;
}
.fact{
    display: flex;
    flex-direction: row;
    align-items: center;
}
h3{
    text-align: center;
}